[ ca ]
default_ca = CA_default

[ CA_default ]
policy = policy_anything
x509_extensions = v3_ca
default_md = sha256
dir             = /home/vengard/pki-frontend/pki-project/team5/pki/ca
certs           = $dir/../certs
new_certs_dir   = $dir/newcerts
database        = $dir/index.txt
certificate     = $dir/../certs/ca_cert.pem
private_key     = $dir/../certs/ca_key.pem
serial          = $dir/serial

[ server_cert ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:true
keyUsage = critical,digitalSignature,keyCertSign,cRLSign

[ policy_anything ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name

[ req_distinguished_name ]

[ ocsp ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical,digitalSignature
extendedKeyUsage = critical,OCSPSigning
